APP_ENV=production

DB_HOST=localhost
DB_PORT=3306
DB_CHARSET=utf8mb4

STUDENTS_DB_HOST=localhost
STUDENTS_DB_PORT=3306
STUDENTS_DB_NAME=igangaschool_students
STUDENTS_DB_USER=replace_with_db_user
STUDENTS_DB_PASS=replace_me

STAFF_DB_HOST=localhost
STAFF_DB_PORT=3306
STAFF_DB_NAME=igangaschool_staffs
STAFF_DB_USER=replace_with_db_user
STAFF_DB_PASS=replace_me

WEBSITE_DB_HOST=localhost
WEBSITE_DB_PORT=3306
WEBSITE_DB_NAME=igangaschool_website
WEBSITE_DB_USER=replace_with_db_user
WEBSITE_DB_PASS=replace_me

ICT_DB_HOST=localhost
ICT_DB_PORT=3306
ICT_DB_NAME=igangaschool_ict
ICT_DB_USER=replace_with_db_user
ICT_DB_PASS=replace_me
