APP_ENV=production

DB_HOST=localhost
DB_PORT=3306
DB_CHARSET=utf8mb4

STUDENTS_DB_HOST=localhost
STUDENTS_DB_PORT=3306
STUDENTS_DB_NAME=igangaschoolofl_students_db
STUDENTS_DB_USER=igangaschoolofl_students_db
STUDENTS_DB_PASS=replace_me

STAFF_DB_HOST=localhost
STAFF_DB_PORT=3306
STAFF_DB_NAME=igangaschoolofl_staffs_db
STAFF_DB_USER=igangaschoolofl_staffs_db
STAFF_DB_PASS=replace_me

WEBSITE_DB_HOST=localhost
WEBSITE_DB_PORT=3306
WEBSITE_DB_NAME=igangaschoolofl_website_db
WEBSITE_DB_USER=igangaschoolofl_website_db
WEBSITE_DB_PASS=replace_me

ICT_DB_HOST=localhost
ICT_DB_PORT=3306
ICT_DB_NAME=igangaschoolofl_ict
ICT_DB_USER=igangaschoolofl_ict
ICT_DB_PASS=replace_me
